.layout-container{
    height: 100vh;
}
.layout-bg{
  background-image: url("../../../assets/Authentication/bglayout.png");  
  background-repeat: no-repeat;
  background-size: cover;
}
.layout-logo{
  width: 200px;
}
.authentication-container{
  width: 60% !important;
}
@media screen and (max-width:1000px) and (min-width:768px) {
  .authentication-container{
      width: 100% !important;
  }
}
@media screen and (max-width:550px) {
  .authentication-container{
      width: 100% !important;
  }
}