
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

:root {
  --primary: #062a41;
  --white: #ffffff;
  --secondary: #eceff1;
  --subSecondary: #eceff18e;
  --orenge:#F5921F;
}
* {
  font-family: "Roboto", sans-serif;
}
.primary-font {
  font-family: "ZCOOL XiaoWei", sans-serif;
}
.form-control:focus {
  box-shadow: none;
}

.bg-primary {
  background-color: var(--primary) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}
.bg-sub-secondary {
  background-color: var(--subSecondary) !important;
}
.text-orenge{
  color: var(--orenge);
}
.btn-border {
  border: 2px solid var(--primary);
}
.text-primary {
  color: var(--primary) !important;
}
.text-underline {
  text-decoration: underline;
}
.cursor-pointer {
  cursor: pointer;
}

.css-13cymwt-control{
  background-color: var(--subSecondary) !important;
  border-radius: 7px !important;
  padding: 1.7px !important;
}