.data-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}

.sno,
.product-name,
.product-image,
.price,
.stock-status,
.quantity,
.created-at,
.action {
  flex: 1;
  text-align: center;
}

.dropdown-toggle::after {
  display: none !important;
}
.product-img {
  max-height: 60px;
}
.text-underline-none{
  text-decoration: none;
}
.select-product-label{
  border: 1px solid rgba(203, 202, 202, 0.682);
  background-color: rgba(203, 202, 202, 0.253);
  transition: 0.5s all ease-in-out;
}
.select-product-label:hover{
  border: 1.5px solid var(--primary);
}
.comon-border{
  border: 1px solid rgba(203, 202, 202, 0.682);

}
@media screen  and (max-width:768px){
  .comon-border{
    border: none;
  
  }
}
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .add-product-btn {
    font-size: 11px;
    font-weight: 900;
  }
}


