.data-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}

.sno,
.product-name,
.product-image,
.price,
.stock-status,
.quantity,
.created-at,
.action {
  flex: 1;
  text-align: center;
}

.dropdown-toggle::after {
  display: none !important;
}
.product-img {
  max-height: 60px;
}
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .add-product-btn {
    font-size: 11px;
    font-weight: 900;
  }
}

@media screen and (max-width: 768px) {
 
}
