.sidebar {
  height: 100vh;
  transition: all 0.5s;
}
.sidebar .logo {
 height: 40px;

}
.sidebar .link_text {
  text-transform: none !important;
  text-decoration: none !important;
}

.link {
  display: flex;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
  color: var(--white);
}
.link:hover {
  background-color: #cfd8dc54;
  border-radius: 7px;
}

.active {
  background-color: #cfd8dc54;
  border-radius: 7px;
  font-weight: 700;
}

.sidebar .toggle-btn .toggle {
  box-shadow: 1px 1px 5px rgba(93, 93, 93, 0.167);
}
